node_modules/*
*.log
typedefs/*
.env*
Documents
.~*
log/*
*.bak
.vscode*
build/*
!fcrt/*
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/Documents/baseline.xlsx
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/Documents/fcrt-2.1.1-test-template.docx
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/Documents/fcrt-baseline.xlsx
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/Documents/fcrt-cs-1a.diff
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/Documents/fcrt-cs-1a.xlsx
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/Documents/fcrt-cs-1b.diff
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/Documents/fcrt-cs-1b.xlsx
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/Documents/fcrt-cs-2a.diff
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/Documents/fcrt-cs-2a.xlsx
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/Documents/fcrt-cs-2b.diff
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/Documents/fcrt-cs-2b.xlsx
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/logs/app-baseline.log
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/logs/app-fcrt-cs-1a.log
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/logs/app-fcrt-cs-2b.log
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/logs/fcrt-cs-1a.log
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/logs/fcrt-cs-2a.log
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/logs/ps-ef.log

!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/baseline.xlsx
!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/fcrt-2.1.2-test-template.docx
!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/fcrt-baseline.xlsx
!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/fcrt-cs-1a.diff
!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/fcrt-cs-1a.xlsx
!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/fcrt-cs-1b.diff
!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/fcrt-cs-1b.xlsx
!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/fcrt-cs-1c.diff
!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/fcrt-cs-1c.docx
!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/fcrt-cs-1c.xlsx
!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/fcrt-cs-1d.diff
!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/fcrt-cs-1d.docx
!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/fcrt-cs-1d.xlsx
!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/fcrt-cs-1e.diff
!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/fcrt-cs-1e.docx
!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/fcrt-cs-1e.xlsx
!fcrt/2.1-cli-om/2.1.2-req-expiry/logs/app-baseline.log
!fcrt/2.1-cli-om/2.1.2-req-expiry/logs/app-fcrt-cs-1a.log
!fcrt/2.1-cli-om/2.1.2-req-expiry/logs/app-fcrt-cs-1b.log
!fcrt/2.1-cli-om/2.1.2-req-expiry/logs/fcrt-cs-1a.log
!fcrt/2.1-cli-om/2.1.2-req-expiry/logs/fcrt-cs-1b.log
!fcrt/2.1-cli-om/2.1.2-req-expiry/logs/ps-ef.log

