node_modules/*
*.log
typedefs/*
.env*
Documents
.~*
log/*
*.bak
.vscode*
build/*

!fcrt/2.1-cli-om/2.1.1-req-no-expiry/Documents/*
!fcrt/2.1-cli-om/2.1.1-req-no-expiry/logs/*.log

!fcrt/2.1-cli-om/2.1.2-req-expiry/Documents/*
!fcrt/2.1-cli-om/2.1.2-req-expiry/logs/*.log
